/* Master Styles */
@import url("resources/_jim/css/function-jim-common.css");
@import url("resources/_jim/css/function-jim-layout.css");
@import url("resources/_jim/css/function-jim-highlight.css");
@import url("resources/_jim/css/function-jim-annotation.css");
@import url("resources/_jim/css/function-jim-transition.css");
@import url("resources/_jim/css/component-jim-navigationtree.css");

@font-face {
    font-family: "materialdesignjim-Regular";
    src: url("/fonts/materialdesignjim-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/materialdesignjim-Regular.woff") format("woff"),
    url("/fonts/materialdesignjim-Regular.ttf")  format("truetype"),
    url("/fonts/materialdesignjim-Regular.svg#svgFontName") format("svg");
}
@font-face {
    font-family: "Windows10-Icons-Regular";
    src: url("/fonts/Windows10-Icons-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Windows10-Icons-Regular.woff") format("woff"),
    url("/fonts/Windows10-Icons-Regular.ttf")  format("truetype"),
    url("/fonts/Windows10-Icons-Regular.svg#svgFontName") format("svg");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto-Regular.ttf")  format("truetype"),
    url("/fonts/Roboto-Regular.svg#svgFontName") format("svg");
}

