<div class="ui-page">
    <div class="screen growth-both PORTRAIT firer pageload ie-background commentable" name="DataSource" width="100%">
        <div id="backgroundBox"></div>
        <div id="alignmentBox" class="center">
            <div id="s-Icon1" class="label singleline firer ie-background commentable">
                <div class="content">
                    <div class="valign"><span id="rtr-s-Icon1_0">СИНХРОНИЗАТОР ТОФИ</span></div>
                </div>
            </div>

            <img id="s-Icon2" class="image firer click ie-background commentable" alt="image"
                 src="/images/91de92cb-d4bf-4497-ae26-148899b60aac.png"/>
            <div id="s-Animated-button-dark_1" class="group firer ie-background commentable">
                <div id="s-Button_21" class="pie button singleline firer click mouseenter mouseleave commentable">
                    <div class="content">
                        <div class="valign"><span id="rtr-s-Button_21_0">RU</span></div>
                    </div>
                </div>
                <div id="s-Button_22" class="button singleline firer commentable">
                    <div class="content">
                        <div class="valign"><span id="rtr-s-Button_22_0"></span></div>
                    </div>
                </div>
            </div>
            <div id="s-Animated-button-dark_2" class="group firer ie-background commentable">
                <div id="s-Button_23" class="pie button singleline firer click commentable">
                    <div class="content">
                        <div class="valign"><span id="rtr-s-Button_23_0"></span></div>
                    </div>
                </div>
                <div id="s-Exit1" class="richtext firer click mouseenter mouseleave ie-background commentable"
                     rotationdeg="90">
                    <div class="clipping">
                        <div class="content">
                            <div class="valign">
                                <span id="rtr-s-Exit1_0"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="s-Button_24" class="button singleline firer commentable">
                    <div class="content">
                        <div class="valign"><span id="rtr-s-Button_24_0"></span></div>
                    </div>
                </div>
            </div>
            <div id="s-Text_1" class="pie label singleline firer commentable">
                <div class="content">
                    <div class="valign"><span id="rtr-s-Text_1_0">Изменить язык</span></div>
                </div>
            </div>
            <div id="s-Text_3" class="pie label singleline firer commentable">
                <div class="content">
                    <div class="valign"><span id="rtr-s-Text_3_0">Выйти</span></div>
                </div>
            </div>
            <div id="s-Bokovoemenu" class="pie dynamicpanel firer commentable">
                <div #Bokovoemenu id="s-Panel_5" class="pie panel default firer pageload commentable">
                    <table class="layout" summary="">
                        <tr>
                            <td class="layout vertical insertionpoint verticalalign Panel_5 Bokovoemenu" valign="top"
                                align="left" hSpacing="0" vSpacing="0">
                                <div id="s-Label_3" class="label singleline firer toggle ie-background commentable">
                                    <div class="content">
                                        <div class="valign"><span id="rtr-s-Label_3_0" (click)="expandMenu($event)"></span></div>
                                    </div>
                                </div>
                                <div id="s-Group_8" class="group firer ie-background commentable">
                                    <a routerLink="/ns" routerLinkActive="active">
                                    <div id="s-Image_18" class="image firer click ie-background commentable" alt="image"
                                         systemName="./images/32c1c386-e240-491d-8aa8-377f39d30025.svg"
                                         overlay="#000000">
                                        <svg preserveAspectRatio='none' id="Layer_1" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                             viewBox="0 0 64 64">
                                            <defs>
                                                <style>#s-Image_18 .cls-1 {
                                                    fill: #666;
                                                }</style>
                                            </defs>
                                            <title>world_times</title>
                                            <path id="world_times" class="cls-1"
                                                  d="M31,56A23,23,0,1,1,54,33,23,23,0,0,1,31,56Zm0-44A21,21,0,1,0,52,33,21,21,0,0,0,31,12Zm-1-1h2V55H30V11ZM9,32H53v2H9V32ZM31,56c-6.73,0-12-10.1-12-23s5.27-23,12-23S43,20.1,43,33,37.73,56,31,56Zm0-44c-5.42,0-10,9.62-10,21s4.58,21,10,21,10-9.62,10-21S36.42,12,31,12Zm0,11c-6.41,0-12.56-1.38-16.88-3.79l1-1.75C19.12,19.71,24.92,21,31,21s11.88-1.29,15.91-3.54l1,1.75C43.56,21.62,37.41,23,31,23ZM46.91,48.54C42.88,46.29,37.08,45,31,45s-11.88,1.29-15.91,3.54l-1-1.75C18.44,44.38,24.59,43,31,43s12.56,1.38,16.88,3.79Z"/>
                                        </svg>
                                    </div>
                                    <div id="s-Input_22"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign"><input type="text" value="Пространства имен"
                                                                       maxlength="100" readonly="readonly"
                                                                       tabindex="-1"/></div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <div id="s-Group_6" class="group firer ie-background commentable">
                                    <a routerLink="/synchronizerslist" routerLinkActive="active">
                                    <div id="s-Rich_text_79" class="richtext firer click ie-background commentable">
                                        <div class="clipping">
                                            <div class="content">
                                                <div class="valign">
                                                    <span id="rtr-s-Rich_text_79_0"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="s-Input_20"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign"><input type="text" value="Синхронизаторы"
                                                                       maxlength="100" readonly="readonly"
                                                                       tabindex="-1"/></div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <div id="s-Group_7" class="group firer ie-background commentable">
                                        <a routerLink="/agencylist" routerLinkActive="active">
                                    <div id="s-Rich_text_211" class="richtext firer click ie-background commentable">
                                        <div class="clipping">
                                            <div class="content">
                                                <div class="valign">
                                                    <span id="rtr-s-Rich_text_211_0"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="s-Input_21"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign">
                                                    <input type="text" value="Агентства" maxlength="100" readonly="readonly" tabindex="-1"/>
                                            </div>
                                        </div>
                                    </div>
                                        </a>
                                </div>
                                <div id="s-Group_9" class="group firer ie-background commentable">
                                    <a routerLink="/sourcestocklist" routerLinkActive="active">
                                    <div id="s-Input_23"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign"><input type="text" value="Источники данных"
                                                                       maxlength="100" readonly="readonly"
                                                                       tabindex="-1"/></div>
                                        </div>
                                    </div>
                                    <div id="s-Image_2" class="image firer click ie-background commentable" alt="image"
                                         systemName="./images/e6a374c0-0ff9-4b1b-ad22-e15cb4b663a1.svg"
                                         overlay="#000000">
                                        <svg preserveAspectRatio='none' id="Layer_1" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                             viewBox="0 0 64 64">
                                            <defs>
                                                <style>#s-Image_2 .cls-1 {
                                                    fill: #666;
                                                }</style>
                                            </defs>
                                            <title>db</title>
                                            <path id="db" class="cls-1"
                                                  d="M32,4C21.4,4,10,6.19,10,11V53c0,4.81,11.4,7,22,7s22-2.19,22-7V11C54,6.19,42.6,4,32,4ZM52,39c0,2-7.12,5-20,5s-20-3-20-5V28.16C15.73,30.78,24.09,32,32,32s16.27-1.22,20-3.84V39Zm0-14c0,2-7.12,5-20,5s-20-3-20-5V14.16C15.73,16.78,24.09,18,32,18s16.27-1.22,20-3.84V25ZM32,6c12.88,0,20,3,20,5s-7.12,5-20,5-20-3-20-5S19.12,6,32,6Zm0,52c-12.88,0-20-3-20-5V42.16C15.73,44.78,24.09,46,32,46s16.27-1.22,20-3.84V53C52,55,44.88,58,32,58Z"/>
                                        </svg>
                                    </div>
                                    </a>
                                </div>
                                <div id="s-Group_10" class="group firer ie-background commentable">
                                    <a routerLink="/metamodellist" routerLinkActive="active">

                                    <div id="s-Rich_text_112" class="richtext firer click ie-background commentable">
                                        <div class="clipping">
                                            <div class="content">
                                                <div class="valign">
                                                    <span id="rtr-s-Rich_text_112_0"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="s-Input_24"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign"><input type="text" value="Метамодели" maxlength="100"
                                                                       readonly="readonly" tabindex="-1"/></div>
                                        </div>
                                    </div>
                                        </a>
                                </div>
                                <div id="s-Group_11" class="group firer ie-background commentable">
                                    <a routerLink="/codingsystemlist" routerLinkActive="active">

                                    <div id="s-Image_1" class="image firer click ie-background commentable" alt="image"
                                         systemName="./images/6a3d3bb5-09a7-44e3-9462-dffadfbf1d53.svg"
                                         overlay="#000000">
                                        <svg preserveAspectRatio='none' id="Layer_1" data-name="Layer 1"
                                             xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                             viewBox="0 0 64 64">
                                            <defs>
                                                <style>#s-Image_1 .cls-1 {
                                                    fill: #666;
                                                }</style>
                                            </defs>
                                            <title>file_locked</title>
                                            <path id="file_locked" class="cls-1"
                                                  d="M43.71,17.29l-11-11A1,1,0,0,0,32,6H12a4,4,0,0,0-4,4V50a4,4,0,0,0,4,4H25a1,1,0,0,0,0-2H12a2,2,0,0,1-2-2V10a2,2,0,0,1,2-2H30v8a4,4,0,0,0,4,4h8v7a1,1,0,1,0,2,0V18A1,1,0,0,0,43.71,17.29ZM34,18a2,2,0,0,1-2-2V8.41L41.59,18H34ZM51,40H49V38a8,8,0,1,0-16,0v2H31a1,1,0,0,0-1,1V59a1,1,0,0,0,1,1H51a1,1,0,0,0,1-1V41A1,1,0,0,0,51,40ZM35,38a6,6,0,1,1,12,0v2H35V38ZM50,58H32V42H50V58ZM43,48a2,2,0,1,0-3,1.72V53a1,1,0,0,0,2,0V49.72A2,2,0,0,0,43,48Z"/>
                                        </svg>
                                    </div>
                                    <div id="s-Input_25"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign"><input type="text" value="Системы кодирования"
                                                                       maxlength="100" readonly="readonly"
                                                                       tabindex="-1"/></div>
                                        </div>
                                    </div>
                                        </a>
                                </div>
                                <div id="s-Group_12" class="group firer ie-background commentable">
                                    <a routerLink="/datasetlist" routerLinkActive="active">
                                    <div id="s-Rich_text_61" class="richtext firer click ie-background commentable">
                                        <div class="clipping">
                                            <div class="content">
                                                <div class="valign">
                                                    <span id="rtr-s-Rich_text_61_0"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="s-Input_26"
                                         class="text firer focusin focusout click ie-background commentable">
                                        <div class="content">
                                            <div class="valign"><input type="text" value="Наборы данных" maxlength="100"
                                                                       readonly="readonly" tabindex="-1"/></div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div id="s-Dynamic_Panel_5" class="pie dynamicpanel firer commentable">
                <div id="s-Panel_12" class="pie panel default firer commentable">
                    <div class="layout">
                        <div id="s-Label_5"
                             class="label singleline firer click mouseenter mouseleave ie-background commentable">
                            <div class="content">
                                <div class="valign"><span id="rtr-s-Label_5_0">Обмен метаданными</span></div>
                            </div>
                        </div>
                        <div id="s-Label_21"
                             class="label singleline firer mouseenter mouseleave click ie-background commentable">
                            <div class="content">
                                <div class="valign"><span id="rtr-s-Label_21_0">Синхронизация метаданных</span></div>
                            </div>
                        </div>
                        <div id="s-Label_22"
                             class="label singleline firer click mouseenter mouseleave ie-background commentable">
                            <div class="content">
                                <div class="valign"><span id="rtr-s-Label_22_0">Обмен данными</span></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="s-Dynamic_Panel_4" class="pie dynamicpanel firer commentable">
                <router-outlet></router-outlet>
<!--                <div id="s-Panel_4" class="pie panel default firer commentable">
                </div>-->
            </div>


        </div>
        <div id="loadMark"></div>
    </div>
</div>
